* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.embed-container {
    height: 100vh;
  }
  
iframe {
    height: 100%;
    width: 100%;
}

/* Default styles for embedded frame */
.embed-container iframe {
    height: 100%;
    width: 100%;
  }
  
  /* Styles for screens wider than 768px */
  @media (min-width: 768px) {
    .embed-container {
      height: 500px; /* adjust height as needed */
    }
  }
  
  /* Styles for screens narrower than 768px */
  @media (max-width: 767px) {
    .embed-container {
      height: 300px; /* adjust height as needed */
    }
  }